
body{ 

background-color: red; 
font-size: 45px;
text-align: center; 
 color:white; background-color:black
}
  h1{ 
    text-align:center; background-color:red !important;} 
  .backcolor{ background-color: yellow;
  }


 
 
